html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    border: none;
}

#move-bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 50px;
    background: transparent;
    opacity: 0;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

#boletimWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    border: none;
}

.inputLabel {
    font-size: 16pt;
    font-family: courier, monospace;
    color: #222;
    border-bottom: solid 1px #C0B283;
    margin: 0 auto;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fileInput::-webkit-scrollbar { 
    display: none;
}

.fileInput {
    border: none;
    border-bottom: solid 1px #C0B283;
    width: 500px;
    height: 35px;
    font-family: 'helvetica neue', arial;
    font-size: 12pt;
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    cursor: pointer;
    transform: translateY(-5px);
}

#runButton {
    border: 0;
    outline: none;
    background: #C0B283;
    width: 125px;
    height: 40px;
    font-size: 13pt;
    color: white;
    font-family: 'helvetica neue', arial;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#credentialsPrompt {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 300px;
    border: solid 1px #A1A1A1;
    border-radius: 3px;
    background: white;
    display: none;
}

#credentialsTable {
    width: 100%;
    height: 90%;
    text-align: center;
    border-collapse: collapse;
    border: none;
}

input {
    height: 30px;
    width: 80%;
    border: none;
    outline: none;
    border-bottom: solid 1px #C0B283;
    font-family: 'helvetica neue', arial;
    font-size: 13pt;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
}

#addPackageButton {
    border: 0;
    outline: none;
    background: #C0B283;
    width: 80%;
    height: 40px;
    font-size: 13pt;
    color: white;
    font-family: 'helvetica neue', arial;
    cursor: pointer;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/material_font.woff2) format('woff2');
}

#closeWindow {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: #C0B283;
    font-family: 'Material Icons';
    font-size: 22pt;
    font-style: normal;
}

